{% extends 'layout.html' %}

{% block title %} {{ title }} {% endblock %}

    {% block content %} 
    <form method="POST" action="{{ url_for('save')}}">
        <table>
            <tr>
                <td>Penulis</td>
                <td>:&nbsp;<input type="text" name="penulis" id="penulis"/></td>
            </tr>
            <tr>
                <td>Judul</td>
                <td>:&nbsp;<input type="text" name="judul" id="judul"/></td>
            </tr>
            <tr>
                <td>Kota</td>
                <td>:&nbsp;<input type="text" name="kota" id="kota"/></td>
            </tr>
            <tr>
                <td>Penerbit</td>
                <td>:&nbsp;<input type="text" name="penerbit" id="penerbit"/></td>
            </tr>
            <tr>
                <td>Tahun</td>
                <td>:&nbsp;<input type="text" name="tahun" id="tahun"/></td>
            </tr>
        </table>
        <button type="submit">Tambah</button>
    </form>
	{% endblock content %} 

